<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snail.cmjsbridgedemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WebViewActivity" />
        <activity android:name=".ElemeWebActivity" />

<!--        <activity android:name=".ElemeWebActivity2" >-->
<!--            <intent-filter>-->
<!--                &lt;!&ndash;协议部分，随便设置&ndash;&gt;-->
<!--                <data-->
<!--                    android:host="utils"-->
<!--                    android:scheme="baiduboxapp"/>-->
<!--                &lt;!&ndash;下面这几行也必须得设置&ndash;&gt;-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--                <action android:name="android.intent.action.VIEW"/>-->
<!--                <category android:name="android.intent.category.BROWSABLE"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->

    </application>

</manifest>